<?xml version="1.0"?>
<model>
  <name>tl4q990_3d_lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Unified Autonomy Stack</name>
  </author>
  <description>
    Approximate 990 mm wheelbase, 6.5 kg quadrotor with an upward 3D lidar.
  </description>
</model>
